# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/

# Vite cache
.vite/

# Local environment files
.env
.env.*.local

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*.swn
*.sw?
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# Temporary files
*.tmp
*.temp

# macOS Finder
._*

# Windows Explorer thumbnail cache files
Thumbs.db
ehthumbs.db

# React Native
.expo/

# TypeScript cache
*.tsbuildinfo

# ESLint cache
.eslintcache

# Stylelint cache
.stylelintcache

# Optional: Coverage directory for testing
coverage/

# Optional: Yarn Integrity
.yarn-integrity

# Optional: Parcel cache
.cache/

# Optional: JetBrains IDE directories
/.idea/

# Optional: npm package lock (if using Yarn)
package-lock.json

# VSCode settings
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/jsconfig.json

# Prettier
!.prettierignore
